<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
    <link rel="shortcut icon" href="./assets/final-logo.png" type="image/png">
    <title>UNIFY | About</title>
</head>
<body data-theme="light">


<section>
    

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="index">HOME</a>
    <a href="exchanges">HOW TO INVEST?</a>
    <a href="about">ABOUT</a>

  </div>


      <span style="font-size:30px;cursor:pointer;margin-left:50px;" class="nav-icon toggleable" onclick="openNav()">

        <img src="./assets/menu-icon.png" style="width: 50px" class="mt-4">
    </span>


    

    <div class="M-heading">
        <div class="text-center">

            <h1>About</h1>
        </div>
        </div>



        <div class="card-body col-xl-6 col-xs-1 col-md-6 text-center" style="height:auto">


            <a href="index"><img src="assets/new-logoWtxt.png" style="width:130px;" class="mb-4"></a>

            <p>
                At Unify we like to deliver an easy and light way to see the latest crypto updates, displaying the 3 most spoken about coins such as Bitcoin, Ethereum and Ripple. We also have shared the top 10 crypto currency exchanges and a brief summary on how to invest.

                <br><br>We also display the most updated news snippets that are gathered from various trustworthy sources. 

                <br><br> 
                Collecting all information from <a href="https://www.cryptocurrencymarket.uk/" target="_blank">www.cryptocurrencymarket.uk</a> for the Prices and <a href="https://www.cryptonews.net" target="_blank">www.cryptonews.net</a> for the News.
            </p>

        </div>
          </div>
          </div>
           </div>
            </div>
          </div>
        </div>
    </div>
            

        <br><br><br><br>

        
    </section>


    <%- include('partials/footer'); -%>


        <div class="theme-switcher">
            <input type="checkbox" id="switcher">
            <label for=switcher>switch</label>
          </div>
    

    <script>

        function openNav() {
        document.getElementById("mySidenav").style.width = "380px";
        }

        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        }

    </script>
    
     <!-- jQuery library -->
     <script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js" 
     integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
     crossorigin = "anonymous">
  </script>
  
  <!-- Popper -->
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
     integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
     crossorigin = "anonymous">
  </script>
  
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
     integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
     crossorigin = "anonymous">
  </script>

<script src="js/script.js"></script>

</body>
</html>