<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
    <link rel="shortcut icon" href="./assets/final-logo.png" type="image/png">
    <title>UNIFY | About</title>
</head>
<body data-theme="light">


<section>
    
   <!-- Nav Menu to navigate between pages  -->

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="index">HOME</a>
    <a href="exchanges">HOW TO INVEST?</a>
    <a href="about">ABOUT</a>

  </div>

      <!-- Center logo to resemble app -->

      <span style="font-size:30px;cursor:pointer;margin-left:50px;" class="nav-icon toggleable" onclick="openNav()">

        <img src="./assets/menu-icon.png" style="width: 50px" class="mt-4">
    </span>


    
    <!-- Heading -->

    <div class="M-heading">
        <div class="text-center">

            <h1>About</h1>
        </div>
        </div>

        <!-- Card widget for about information -->

        <div class="card-body col-xl-6 col-xs-1 col-md-6" style="height:auto">

          <div class="text-center">


            <a href="index"><img src="assets/new-logoWtxt.png" style="width:130px;" class="mb-4"></a>

            <p>
                At Unify we like to deliver an easy and light way to see the latest crypto updates, displaying the 3 most spoken about coins such as Bitcoin, Ethereum and Ripple. We also have shared the top 10 crypto currency exchanges and a brief summary on how to invest.

                <br><br>We also display the most updated news snippets that are gathered from various trustworthy sources. 

                <br><br> 
                Collecting all information from <a href="https://www.cryptocurrencymarket.uk/" target="_blank">www.cryptocurrencymarket.uk</a> for the Prices and <a href="https://www.cryptonews.net" target="_blank">www.cryptonews.net</a> for the News.
              
                <br><br> 
              </p>

            </div>

            <hr class="hr">

            <h3 class="mt-5" style="color: #906ab6;">What Next?</h3>

            <p>We do our research, speak to friends, and ask them about where and why we should invest in certain cryptos. Our research should come from multiple sources, and should be calculated then based on how relevant we believe that which we are about to invest in will be - or is currently.<br><br> Crypto is heavily dependant on trends. Use YouTube - curate the search to relevant / past 24/hours, search crypto and start there. read comments and follow the leads wherever they take you. Use the resources you have such as friends or ask people on comments for advice. Learn from all the resources out there who describe technical analysis (people who know how to interpret patterns to make predictions) and begin to develop your own understanding.
              The more we understand the reason we are investing, the easier we will be able to make our own decisions - and to curate our own understanding of who we trust. To begin with - we will normally make our investments on the people we believe we can trust. </p>

        </div>
          </div>
          </div>
           </div>
            </div>
          </div>
        </div>
    </div>
            

        <br><br><br><br>

        
    </section>


     <!-- Toggle theme switcher for light and dark mode  -->

     <div class="theme-switcher">
      <input type="checkbox" id="switcher">
      <label for=switcher>switch</label>
    </div>
  </div>


    <%- include('partials/footer'); -%>


  

    <script>

      // Script for nav menu

        function openNav() {
        document.getElementById("mySidenav").style.width = "380px";
        }

        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        }

    </script>
    
     
<!-- My script -->

<script src="js/script.js"></script>

<!-- bootstrap script -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>


</body>
</html>