



body {

    margin: 0px;
    padding: 0px;
    color: var(--color-4);
    height: auto;
}


body[data-theme="light"] {
  --color-1: #727272;
  --color-2: white;
  --color-3: white;
  --color-4: rgb(80, 82, 110);
  --color-5: #8b62b4;
  --box-shadow-1: 
  -2px 8px 12px 0 rgba(0, 0, 0, 0.1),
  12px -12px 16px rgba(255, 255, 255, 0.25);
  --box-shadow-2: 
  2px 8px 12px 0 rgba(0, 0, 0, 0.1),
  -12px 12px 12px rgba(255, 255, 255, 0.25);
  --background-color-1: "light";
}

body[data-theme="dark"] {
  --color-1: #b4b4b4;
  --color-2: #303030;
  --color-3: rgb(43, 43, 43);
  --color-4: rgb(186, 186, 202);
  --color-5: #625d68;
  --box-shadow-1: 
  -2px 8px 12px 0 rgba(0, 0, 0, 0.1),
  12px -12px 20px rgba(34, 34, 34, 0.055);
  --box-shadow-2: 
  8px 8px 12px 0 rgba(0, 0, 0, 0.1),
  -12px 12px 16px rgba(34, 34, 34, 0.055);
  --background-color-2: "light";
}


.h1 {

    color:  #804DB3;
    font-family: 'Comfortaa', cursive !important
}

.h2  {

    font-size: 4em !important; 
    color:  #804DB3 !important;
    font-family: 'Comfortaa', cursive !important

}

.h5 {


  font-family: 'Comfortaa', cursive !important;
  letter-spacing: 0.2em;
  line-height: 1.5rem;
  font-size: 1.25em;
}

.p {

    font-size: 0.5em !important; 
    color: var(--color-1) !important;
    font-family: 'Comfortaa', cursive !important

}


a:link {
  color: #8b62b4;
  text-decoration: wavy;

}

/* visited link */
a:visited {
  color: #9672b9;
}

/* mouse over link */
a:hover {
  color: #b69fce;

}

/* selected link */
a:active {
  color: #9672b9;
}

section {
  background-color: var(--color-3);
  width: 100%;
  height: 250% ;
}

button {
  font-family: FontAwseome;
  content: "\f186";
  padding: 10px 30px;
  border: none;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.theme-switcher {
  position: absolute;
  right: 30px;
  top: 10px;
}

input {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}


label {
  cursor: pointer;
  text-indent: -9999px;
  height: 35px;
  width: 60px;
  border-radius: 50px;
  border: 3px !important;
  border-color: black !important;
  background-color: #EAECEF;
  transition: 1s ease background-color;
}

label::after {
  position: absolute;
  content: "";
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  top: 40%;
  left: 2;
  transform: translateY(-40%);
  background-color: rgb(54, 54, 54);
  transition: 1 ease; 
  
}


input:checked + label::after {
  /* left: calc(100% - 2.5px); */
  left: calc(100% - 36px);
  background-color: rgb(218, 218, 218);
}


input:checked + label {
  background-color: rgb(56, 56, 56);
  border: 2px solid rgb(255, 255, 255);
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #804DB3;
  background-image: linear-gradient(#804DB3, rgba(255, 255, 255, 0));
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 20px 40px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive !important;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

label{
  display:flex;
   flex-direction: column;
   width:70px;
   cursor:pointer;
   margin-left: 40px;

 }
 
 label span{
   background: #804DB3;
   border-radius:20px;
   height:7px;
   margin: 10px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
 
 }
 
 
 span:nth-of-type(1){
   width:50%;
   
 }
 
 span:nth-of-type(2){
   width:100%;
 }
 
 
 span:nth-of-type(3){
   width:75%;
  
 }
 
 
 input[type="checkbox"]{
   display:none;
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(1){
   transform-origin:bottom;
   transform:rotatez(45deg) translate(8px,0px)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(2){
   
   transform-origin:top;
   transform:rotatez(-45deg)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(3){
   
   transform-origin:bottom;
   width:50%;
   transform: translate(30px,-11px) rotatez(45deg);
 
 }
 

 .nav-icon

 {
 color: #804DB3;
 }



.container {
    
    margin-left: 0px;
    
}


.logo-icon 
{
  margin-top: -20px;
  margin-bottom: 20px

}


.card {
    margin: 20px;
    margin-left: 30px;
    padding: 20px;
    height: 350px;
    width: 250px;
    display: inline-block;
    background-color: var(--color-3);
    border-radius: 55px;
    border: 0px;
    border-color: rgba(187, 187, 187, 0.281);
    box-shadow: var(--box-shadow-1);
    transition: width 1s, height 2s;

}


.card:hover {

  width: 255px;
  height: 380px;
  box-shadow:
  8px 8px -12px 0 rgba(0, 0, 0, 0.1),
  5px -18px 4px rgba(255, 255, 255, 0.25);
  
}


.card2 {
  margin: 20px;
  margin-left: 30px;
  padding: 20px;
  height: 330px;
  width: 600px;
  display: inline-block;
  background-color: var(--color-3);
  border-radius: 55px;
  border: 0px;
  border-color: rgba(187, 187, 187, 0.281);
  box-shadow: var(--box-shadow-1);


}


@media screen and (max-width: 700px) {
  .card2 {

      width: 250px;
  }

  .card-body {

    width: 100% !important;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px !important;
    padding-top: 20px;

}

.nav-icon {

  margin-left: 40px;
}

}


.BTC-h { 
    margin-top: 20px;
    color: var(--color-5);
    font-size: 2em;
    font-family: 'Comfortaa', cursive    


}

.ETH-h { 
    margin-top: 10px;
    color: var(--color-5);
    font-size: 2em;
    font-family: 'Comfortaa', cursive    


}

.XRP-h { 
    margin-top: 10px;
    color: var(--color-5);
    font-size: 2em;
    font-family: 'Comfortaa', cursive    
}


.volume 
{
    margin-top: 10px;
    margin-left: 0px !important;
    font-size: 1.2em !important; 
    color: var(--color-1);
    font-family: 'Comfortaa', cursive !important

}


#BitcoinPrice {

    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}



#EthereumPrice {

    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}

#RipplePrice {
    
    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}


#BitcoinVolume, #EthereumVolume, #RippleVolume
{

    color: #80b34d;
    font-size: 0.8em;
    font-family: 'Comfortaa', cursive
}



.chart-h

{
    margin-left: 20px;
    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;

}



.title
{

    margin-top:40px;
    margin-left: 50px;
    color: #804DB3;
    font-size: 2.5em !important;
    font-family: 'Comfortaa', cursive

}

.Intro
{

    margin-top:10px;
    margin-left: 50px;
    width: 100%;
    padding-right: 0px !important;
    color: var(--color-1);
    font-size: 1.2em;
    font-family: 'Questrial', sans-serif !important;
    line-height: 1.65em;

}



.title2
{

    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive

}


.newsH {


  color: #804DB3;
  font-size: 2em;
  font-family: 'Comfortaa', cursive
}



.news {

  margin-left: 80px;
  
  }

@media only screen and (max-width:  700px) 
{
.title {

  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em !important;

}

.Intro {


  margin-left: 0px !important;
  margin-right: 20px !important;
  font-size: 1.1em;

}


.title2 {

  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em !important;

}


.newsH {


  margin-left: 0px;
  margin-right: 20px;
  font-size: 1.5em !important;

}

.news {

  margin-left: 0px;
  
  }

}



.feed 
{
  margin-right: auto;
  margin-left: auto;

}


.tweet-feed
{
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

}


#cryptoTitle, #cryptoTitle2, #cryptoTitle3, #cryptoTitle4
{
    
    color: var(--color-1);
    font-size: 1.05em;
    font-family: 'Questrial', sans-serif !important;
    line-height: 1.55em;

}

#cryptoSrc, #cryptoSrc2, #cryptoSrc3, #cryptoSrc4
{

     color: #80b34d;
    font-size: 0.8em;
    font-family: 'Questrial', sans-serif !important;
    line-height: 1.65em;


}

   .M-heading 
   {
    margin-top: 30px;
    color: #804DB3;
    font-family: 'Comfortaa', cursive !important;
    padding-bottom: 10px;
  }



   .card-body{
    
    margin: 40px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 55px;
    border: 0px;
    background-color: var(--color-2);
    box-shadow: var(--box-shadow-1);
    transition: width 1s, height 2s;
    font-family: 'Questrial', sans-serif !important;
    font-size: 1.2em !important; 
    color: var(--color-1);
}


.card-body2{
    
  margin: 40px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 55px;
  border: 0px;
  background-color: var(--color-2);
  box-shadow: var(--box-shadow-1);
  transition: width 1s, height 2s;
  font-family: 'Questrial', sans-serif !important;
  font-size: 1.2em !important; 
  color: var(--color-1);

  }



 @media only screen and (max-width:  700px) 
{
.card-body {

  margin: 0px;
  margin-bottom: 55px;

}

}

.socials
{

    font-family: 'Comfortaa', cursive !important;
    font-size: 15px;
    color:  #a3a3a3 !important;
    
}

.github-icon:hover{

    color: #a483c0;
}


#separator {
  width:100%;
  height:2px;
  background-color:#a3a3a344;
  text-decoration: dashed;
  opacity: 80%;
  margin-top:6px;
  margin-bottom: 4px;
  float:left;
  }


  #BigSeparator {
    width:100%;
    height:4px;
    background-color:#c6b4d8;
    text-decoration: dashed;
    opacity: 80%;
    margin-top:6px;
    margin-bottom: 6px;
    float:left;
    border-radius: 20px;
    }

    .ml-6 {

      margin-left: 5%

    }



  .ml-7
  {

    margin-left: 12%

  }

  .ml-8
  {

    margin-left: 180px

  }

  .row {

    margin-left: 0px !important;
  }

  #rating1, #rating2, #rating3, #rating4, #rating5, #rating6, #rating7, #rating8, #rating9, #rating10 {

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  border-radius: 10px;
  width: 20px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background-color: #804DB3;
  z-index: 200;


  }

  .ml {

    margin-left: 15%;
  }


  #volume1,  #volume2,  #volume3,  #volume4,  #volume5,  #volume6,  #volume7,  #volume8,  #volume9,  #volume10 
  {
    color: #80b34d;
    font-size: 0.8em;
    font-family: 'Comfortaa', cursive

  }

  .data-link {

    color: #9f7fc0;
    font-size: 14px;

  }

  .binanceImg
  {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

  }

  .card2-body
  {

    margin: 40px;
    padding: 40px;
    display: inline-block;
    background-color: var(--color-2);
    border-radius: 55px;
    border: 0px;
    box-shadow: var(--box-shadow-2);
    transition: width 1s, height 2s;
    font-family: 'Questrial', sans-serif !important;
    font-size: 1.2em !important; 
    color: var(--color-1);

  }


  .S-heading
  {

    margin-top: 30px;
    font-size: 1.5em;
    color: #8c65b3;
    font-family: 'Comfortaa', cursive !important;

  }

  

  .purple 
  {

    color: #906ab6;
    font-size: 15px;
    font-weight: bold;

  }


  

  .card4 {

    width: 50% !important;
    margin: 40px;
    padding: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px;
    background-color: var(--color-2);
    border-radius: 55px;
    border: 0px;
    box-shadow: var(--box-shadow-2);
    font-family: 'Questrial', sans-serif !important;
    font-size: 1.2em !important; 
    color: var(--color-1);

  }


  

  .feed {

    justify-content: center;

  }


  #tweetName, #tweetLocation, #tweetDate 
  {

    color: #906ab6;

  }


  .table-h
  {

    font-size: 1.75rem;

  }


  @media only screen and (max-width:  700px) 
{ 

  .S-heading {

    padding-left: 5px;
  }

  .table-h {

    font-size: 0.8em;
  }

  .card4 {

    width: 100% !important;
    margin: 10px !important;
    margin-right: 25px;
  }

  .S-heading {

    font-size: 1.4em;
    width: 100%;

  }

  .ml-3 
  {

    margin-left: 0px !important;

  }


  #rating1, #rating2, #rating3, #rating4, #rating5, #rating6, #rating7, #rating8, #rating9, #rating10 {

    width: 50px !important;
    height: 25px;
    padding: 0px;
    margin-bottom: 15px;
    
  }
  
#volume10 
{

  margin-left: 0px !important;
}

  .col {

    margin-bottom: 15px;
    padding-left: 0px;

  }

  .card2-body

  {

    margin-top: 150px !important;
    width: 100% !important;
    margin: 0px !important;
  }

 
  .ml-5 
  {

    margin-left: 0px !important;
    padding-left: 0px !important;

  }

  .ml
  {

    margin-left: 0px !important;
  }

.ml-9
{

   margin-left: 5%;
}

  .row {

    margin-left: 0px !important;
  }

}

  
  @media (min-width: 1200px)
  {
.col-xl-10 {

  max-width: 100% !important;
}
  }

  

  .footer {

    background-color: #7c52a1;
    color: #dddddd;
    font-family: 'Questrial', sans-serif !important;
    font-size: 1.1em;
  }


.f-h
{

  padding-bottom: 5px;
  color: white;
  font-size: 1em;
  font-family: 'Comfortaa', cursive !important;
  /* border-bottom: 2px  solid #bbb ; */
  border-radius: 2px;


}


  html.theme-dark .tv-ticker-item-last__short-name {
    color: #4f526e !important;
}



#myModal {
  top: 30%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;

}

.timeline-Footer {

  visibility: hidden !important;
}


.modal-content {


  border-radius: 20px !important;
  background-color: rgb(43, 43, 43);
  color: #b4b4b4;
  font-family: 'Comfortaa', cursive !important
}

.modal-title
{

  color: #b4b4b4;
  font-family: 'Comfortaa', cursive !important
}


.close {
  
  margin-top: -6px;
  float: right;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;

}


.close:hover {

  color: #fff;
}

.hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
