

body {

    margin: 0px;
    padding: 0px;
}


.h1 {

    color:  #804DB3;
    font-family: 'Comfortaa', cursive !important
}

.h2  {

    font-size: 4em !important; 
    color:  #804DB3 !important;
    font-family: 'Comfortaa', cursive !important

}

.p {

    font-size: 0.5em !important; 
    color:  #a3a3a3 !important;
    font-family: 'Comfortaa', cursive !important

}


a:link {
  color: #804DB3;
}

/* visited link */
a:visited {
  color: #9672b9;
}

/* mouse over link */
a:hover {
  color: #9672b9;
  text-decoration: solid;
}

/* selected link */
a:active {
  color: #9672b9;
}

.container {
    background-color: white !important;
    margin-left: 0px;
    
}



.logo-icon 
{
    margin-top: -20px;
  margin-bottom: 20px

}



.card {
    margin: 20px;
    margin-left: 30px;
    padding: 20px;
    height: 330px;
    width: 250px;
    display: inline-block;
    background-color: white !important;
    border-radius: 55px;
    border: 0px;
    border-color: rgba(187, 187, 187, 0.281);
    background: linear-gradient(-45deg, rgba(233, 233, 233, 0.22), rgba(255,255,255,0.25));
    box-shadow:
    -8px 8px 12px 0 rgba(0, 0, 0, 0.1),
    12px -12px 16px rgba(255, 255, 255, 0.25);
    transition: width 1s, height 2s;

}


 .card:hover {

    width: 280px;
    height: 380px;
    box-shadow:
    8px 8px -12px 0 rgba(0, 0, 0, 0.1),
    5px -18px 4px rgba(255, 255, 255, 0.25);
    
  }

.BTC-h { 
    margin-top: 20px;
    color: #a8a8a8;
    font-size: 2em;
    font-family: 'Comfortaa', cursive    


}

.ETH-h { 
    margin-top: 10px;
    color: #a8a8a8;
    font-size: 2em;
    font-family: 'Comfortaa', cursive    


}

.XRP-h { 
    margin-top: 10px;
    color: #a8a8a8;
    font-size: 2em;
    font-family: 'Comfortaa', cursive    


}

.volume 
{
    margin-top: 10px;
    font-size: 0.8em !important; 
    color:  #5e5e5e !important;
    font-family: 'Comfortaa', cursive !important

}


#BitcoinPrice {

    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}



#EthereumPrice {

    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}

#RipplePrice {
    
    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}


#BitcoinVolume, #EthereumVolume, #RippleVolume
{

    color: #80b34d;
    font-size: 0.8em;
    font-family: 'Comfortaa', cursive
}



.chart 

{
    margin-left: 20px;
    margin-top: 20px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;

}



.title
{

    margin-top:40px;
    margin-left: 50px;
    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive

}

.Intro
{

    margin-top:10px;
    margin-left: 50px;
    color: #727272;
    font-size: 1.2em;
    font-family: 'Questrial', sans-serif !important;
    line-height: 1.65em;

}


.news {

margin-left: 80px;

}


.newsH {


    color: #804DB3;
    font-size: 2em;
    font-family: 'Comfortaa', cursive
}

#cryptoTitle, #cryptoTitle2, #cryptoTitle3, #cryptoTitle4
{
    
    color: #727272;
    font-size: 1.05em;
    font-family: 'Questrial', sans-serif !important;
    line-height: 1.55em;

}

#cryptoSrc, #cryptoSrc2, #cryptoSrc3, #cryptoSrc4
{

     color: #80b34d;
    font-size: 0.8em;
    font-family: 'Questrial', sans-serif !important;
    line-height: 1.65em;


}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #804DB3;
    background-image: linear-gradient(#804DB3, rgba(255, 255, 255, 0));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 20px 40px;
    text-decoration: none;
    font-family: 'Comfortaa', cursive !important;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  label{
    display:flex;
     flex-direction: column;
     width:70px;
     cursor:pointer;
     margin-left: 40px;

   }
   
   label span{
     background: #804DB3;
     border-radius:20px;
     height:7px;
     margin: 10px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   span:nth-of-type(1){
     width:50%;
     
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(30px,-11px) rotatez(45deg);
   
   }
   

   .nav-icon

   {
   color: #804DB3;
   }

   .M-heading 
   {

    margin-top: 30px;
    color: #804DB3;
    font-family: 'Comfortaa', cursive !important;

   }


   .card-body{
    
    margin: 40px;
    padding: 40px;
    display: inline-block;
    background-color: white !important;
    border-radius: 55px;
    border: 0px;
    border-color: rgba(187, 187, 187, 0.281);
    background: linear-gradient(-45deg, rgba(233, 233, 233, 0.22), rgba(255,255,255,0.25));
    box-shadow:
    -8px 8px 12px 0 rgba(0, 0, 0, 0.1),
    12px -12px 16px rgba(255, 255, 255, 0.25);
    transition: width 1s, height 2s;
    font-family: 'Questrial', sans-serif !important;
    font-size: 1.2em !important; 
    color: #727272;
}

.socials
{

    font-family: 'Comfortaa', cursive !important;
    font-size: 15px;
    color:  #a3a3a3 !important;
    
}

.github-icon:hover{

    color: #a483c0;
}